/*
General
*/

html
{
	font-family:sans-serif;
	font-size:1.2em;
}
html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

p, button, input, select, textarea
{
	font-family: sans-serif;
	box-sizing: border-box;
}

input, select
{
	font-size: 0.85rem; /* Not sure why this is necessary, but it is... */
}



/*
SVG
*/

#main-svg
{
	display: block;
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
}
#main-svg-graph
{
	pointer-events: visible;
	width: 100%;
	height: 100%;
}
#main-svg-dragger
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

svg #crosshair line
{
	stroke: lightgreen;
	stroke-width: 2;
}

#png-export-canvas
{
	display: block;
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

/*
Message bar and message box panel
*/

#message-bar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 0.6em;
	padding-left: 13.6em;
	padding-right: 13.6em;

	text-align: center;
	word-wrap:break-word;
}

.messagebox
{
	position: absolute;
	z-index: 100;
	box-sizing: border-box;
	background-color:#DDDDDD;
	opacity: 0.95;
	padding: 0.6em;
	display: none;
	max-width: 500px;
}
.messagebox .header
{
	padding: 0;
	margin: 0;
	text-align: center;
}
.messagebox .buttonlist
{
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
}

#messagebox-modal-background
{
	position: fixed;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color:#DDDDDD;
	opacity: 0.5;
	display: none;
	z-index: 90;
}

/*
Side panels
*/

.panel
{
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0.6em;

	box-sizing: border-box;

	width: 13em;
	height: 100%;
	
	background-color:#DFDFDF;
	border-color: #999999;
	opacity: 0.95;

	overflow-y:auto;
}

#options-panel
{
	left: 0;
	border-right: 2px solid;
}

#nodeinfo-panel
{
	right: 0;
	border-left: 2px solid;
}

.panel .header
{
	width: 100%;
	text-align: center;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
}

.panel .inlinetext
{
	font-size: 0.8em;
	display: inline;
}

.panel input[type="button"]
{
	width: 100%;
}

.panel .spacer
{
	height: 1.5em;
}

.panel .smallspacer
{
	height: 0.2em;
}

.panel input[type="text"]
{
	width: 100%;
	box-sizing: border-box;
}

.panel textarea
{
	width: 100%;
	height: 4.5em;
	min-height: 4.5em;
	max-height: 20em;
	resize: vertical;
	white-space: nowrap;
	overflow: auto;
	border: 1px solid gray;
	background-color: white;
	font-size: 0.7em;
	padding: 4px;
}

.panel table
{
	width: 100%;
	background-color: white;
	border: 1px solid gray;
	border-sizing: border-box;
	padding: 5px;
}



/*
Parents and CPT tables
*/

#parents-list-table img
{
	width: 0.8em;
	vertical-align: middle;
	cursor: pointer;
}
#parents-list-table p
{
	width: 100%;
	height: 100%;
	margin: 0;
	margin-bottom: 0.12em;
	padding: 0;
	font-size: 0.8em;
	white-space: nowrap;
}

#manual-detect-degenaracy-button
{
	display: none;
}

#cpt-table p
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	white-space: nowrap;
}

.cpt-table-item, .cpt-table-item-noclick, .cpt-table-item-disabled
{
	margin: 0;
	padding: 0;
	display: inline;
	vertical-align: middle;
}
.cpt-table-item-disabled
{
	color:gray;
}
.cpt-table-item, .parents-table-row, .cpt-table-item-disabled
{
	background-color: white;
	cursor: pointer;
}
.cpt-table-item:hover, .parents-table-row:hover, .cpt-table-item-disabled:hover
{
	background-color: lightgray;
	cursor: pointer;
}